@model MyFirstMVCApp.Entities.CarColorEntity

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CarColorEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ColorName" class="control-label"></label>
                <input asp-for="ColorName" class="form-control" />
                <span asp-validation-for="ColorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorUrl" class="control-label"></label>
                <input asp-for="ColorUrl" class="form-control" />
                <span asp-validation-for="ColorUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Upload Color file </label>
                <input  type="file" name="colorFile" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="HexCode" class="control-label"></label>
                <input asp-for="HexCode" class="form-control" type="color" />
                <span asp-validation-for="HexCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

