@{
    ViewData["Title"] = "Sse Page";
}

<div class="text-center">
    <h1 class="display-4">Sse</h1>
    
    <div>
        <h2> Public SSE</h2>
        <ul id="ssePublic" class="list-group">

        </ul>

    </div>

</div>

@section Scripts{
    <script>
        const ssePublic = document.getElementById("ssePublic");
        
        const addMessageToPublicList = (message) => {
            const li = document.createElement("li");
            li.className = "list-group-item";
            li.textContent = message;
            ssePublic.appendChild(li);
        };
        
        document.addEventListener("DOMContentLoaded", function () {
            const eventSourcePublic = new EventSource("/sse/public");
            eventSourcePublic.onmessage = (event) => {
                console.log("Public Stream:", event.data);
                addMessageToPublicList(event.data);
            };
            
            eventSourcePublic.onerror( (event) => {
                console.error("Error:", event);
            });
            
            eventSourcePublic.onopen( (event) => {
                console.log("Connection opened:", event);
                addMessageToPublicList("Connection opened");
            })

            // const eventSourceAuthorized = new EventSource("/sse/authorized");
            // eventSourceAuthorized.onmessage = (event) => {
            //     console.log("Authorized Stream:", event.data);
            // };
        });

    </script>
}